@***********************
* author Sami Hostikka *
***********************@
@(page: Int, order: String, by: String)(tbody: Html)

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			@th("Date", "measured", page, order, by)
			@th("Altitude", "location.altitude", page, order, by)
			@th("Latitude", "location.latitude", page, order, by)
			@th("Longitude", "location.longitude", page, order, by)
			@th("Accuracy", "location.accuracy", page, order, by)
			@th("Speed", "location.speed", page, order, by)
			@th("Provider", "location.provider", page, order, by)
			@th("Satellites", "location.satellites", page, order, by)
			@th("Light", "light.x", page, order, by)
			@th("Magnetic field x", "magfield.x", page, order, by)
			@th("Magnetic field y", "magfield.y", page, order, by)
			@th("Magnetic field z", "magfield.z", page, order, by)
			@th("Gyroscope x", "gyroscope.x", page, order, by)
			@th("Gyroscope y", "gyroscope.y", page, order, by)
			@th("Gyroscope z", "gyroscope.z", page, order, by)
			@th("Gravity x", "gravity.x", page, order, by)
			@th("Gravity y", "gravity.y", page, order, by)
			@th("Gravity z", "gravity.z", page, order, by)
			@th("Proximity", "proximity.x", page, order, by)
			@th("Accelerometer x", "accelerometer.x", page, order, by)
			@th("Accelerometer y", "accelerometer.y", page, order, by)
			@th("Accelerometer z", "accelerometer.z", page, order, by)
			@th("Manufacturer", "device.manufacturer", page, order, by)
			@th("Android version", "device.version", page, order, by)
			@th("Brand", "device.brand", page, order, by)
			@th("Model", "device.model", page, order, by)
			@th("Operator", "network.operator", page, order, by)
			@th("Type", "network.type", page, order, by)
			@th("Roaming", "network.isNetworkRoaming", page, order, by)
			@th("Cell", "network.cell", page, order, by)
			@th("WiFi bssid", "wifi.bssid", page, order, by)
			@th("Ssid", "wifi.ssid", page, order, by)
			@th("Capabilities", "wifi.capabilities", page, order, by)
			@th("Frequency", "wifi.frequency", page, order, by)
			@th("Level", "wifi.level", page, order, by)
		</tr>
	</thead>
	<tbody>
		@tbody
	</tbody>
</table>